// CHAT CONTAINER

.outer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
  background-color: #f2f3f5;
}

.chat__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 8px;
  height: 95%;
  width: 100%;
}

// INPUT

.form {
  display: flex;
  border-top: 1px solid #D3D3D3;
}

.input {
  border: none;
  border-radius: 0;
  padding: 2%;
  width: 80%;
  font-size: 14px;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.send__btn {
  color: $white !important;
  text-transform: uppercase;
  text-decoration: none;
  background: $primary;
  padding: 10px;
  display: inline-block;
  border: none;
  width: 20%;
  cursor: pointer;
}


@media (max-width: 990px) {
  .users__col {
    display: none;
  }
}
